@model FromLocalsToLocals.ViewModels.CreateEditVendorVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Vendor</h4>
<hr />

<div class="container">
    <partial name="_ServiceAddEdit" />
</div>

<div>
    <a asp-action="MyVendors">Back to List</a>
</div>

